.blog-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0ede5;
}
.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  flex-wrap: wrap;
}
.card {
  background-color: #b2d8d8;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}
#viewMore {
  font-size: 20px;
  font-weight: 1000;
  margin-bottom: 1%;
}
